// header
.header
  position: fixed
  top: 0
  left: 0
  z-index: 999
  width: 100%
  &__inner
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    align-items: center
  .logo-link
    margin-right: auto
    margin-top: 1.25rem
    +css-lock(230,520,768,1280,width)
    svg
      .logo-text
        transition: fill .23s ease
        fill: #fafafa
  .main-menu
    display: flex
    flex-flow: row wrap
    align-items: center
    justify-content: space-around
    flex: 1
    padding-left: 6.25rem
  .menu-item
    a
      +open-700
      text-transform: uppercase
      color: $color-white
      text-decoration: none
      transition: color .23s ease
      &:hover
        color: $color-main
    &.current-item
      a
        text-decoration: underline
        text-decoration-style: wavy
        text-decoration-color: $color-main

  [bg-menu="white"] &
    .menu-item
      a
        color: $color-second
    .logo-link
      svg
        .logo-text
          fill: $color-second
//promo
.promo
  width: 100%
  height: 100vh
  position: relative
  background-image: url('../img/bg/bg__promo-main.jpg')
  background-size: cover
  z-index: 1
  display: flex
  flex-flow: row wrap
  justify-content: flex-end
  align-items: center
  &::after
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 2
    background-color: rgba(27, 21, 13, 0.47)
  &__info
    position: relative
    z-index: 3
    max-width: 70%
    padding-right: 10vw
    text-align: right
    h1
      color: white
      margin-bottom: 30px
  &__description
    +source-700
    color: $color-white
    text-transform: uppercase
    font-size: 1rem
    display: inline-block
    &::before
      content: ''
      +vm
      width: 2.5rem
      height: .1875rem
      background-color: $color-main
      margin-right: 30px
  &__btns
    margin-top: 3.75rem
  .button + .button
    margin-left: 1.25rem

.nxt-arrow
  z-index: 3
  position: absolute
  width: 2rem
  height: 1rem
  bottom: 3.75rem
  left: calc(50% - 1rem)
  .icon-arrow-down
    fill: $color-white


// service
.service
  width: 100%
  height: 100vh
  position: relative
  &__bg
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    img
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      z-index: 1
  &__tabs
    display: flex
    flex-flow: row wrap
    justify-content: center
    align-items: center
    height: 100%
  &__tab
    flex: 1 1 calc(100% / 7)
    max-width: calc(100% / 7)
    height: 100%
    position: relative
    z-index: 1
    overflow: hidden
    &:not(:last-child)
      border-right: 2px solid rgba(255, 255, 255, 0.24)
    &-inner
      position: relative
      top: calc(100% - 80px)
      padding-left: .9375rem
      padding-right: .9375rem
      transition: top .23s ease
      will-change: top
      z-index: 3
      text-align: center
      +source-600
      color: $color-white
    &-letter
      height: 5rem
      display: flex
      flex-flow: column wrap
      align-items: center
      justify-content: center
      max-width: calc(100% - 40px)
      margin: 0 auto 2.5rem
      text-transform: capitalize
      line-height: normal
      background-color: rgba(0, 0, 0, 0.42)
      transition: background-color .23s ease
      position: relative
      z-index: 1
      span
        font-size: 1rem
        transition: font-size .23s ease
        will-change: font-size
    .button
      margin-bottom: 30px
      position: relative
      z-index: 1
    p
      font-size: .875rem
      line-height: 1.4375rem
      text-transform: capitalize
      position: relative
      z-index: 1
    &:hover,
    .is-active
      .bg-letter
        opacity: 1
      .service__tab-inner
        top: 50%
      .service__tab-letter 
        background-color: transparent
        span
          font-size: 1.5rem
          line-height: 1
  .bg-letter
    position: absolute
    top: -9.6875rem
    left: 0
    width: 100%
    padding-bottom: 100%
    opacity: 0
    transition: opacity .23s ease
    z-index: 0
    &::before,
    &::after
      content: ''
      position: absolute
      width: 100%
      height: 62.5rem
      left: 0
      background-color: rgba(0, 0, 0, 0.42)
    &::before
      bottom: 100%
    &::after
      top: 100%
    svg
      top: 0
      left: 0
      position: absolute
      width: 100%
      height: 100%
      .stext
        font-size: 55px
        +mon-900




.about
  width: 100%
  height: 100vh
  display: flex
  flex-flow: row wrap
  justify-content: center
  align-items: center


.frameimg
  +frame(25rem,31.25rem,100%,100%,60px,70px,20px,$color-main)