html
  +r(960)
    font-size: 14px
body
  background-color: #ffffff
  font-size: 1rem
  line-height: 1.6
  +source-600

html,
body
  height: 100%

.wrapper
  overflow: hidden
  display: flex
  flex-direction: column
  min-height: 100%
  .content
    flex: 1 0 auto
  .footer 
    flex: 0 0 auto

h1,
.h1
  +mon-700
  +css-lock(40,94,768,1280)
  +css-lock(44,92,768,1280,line-height)

img,
svg
  max-width: 100%

.button
  position: relative
  display: inline-block
  overflow: hidden
  width: auto
  height: 52px
  line-height: 50px
  max-width: 100%
  min-width: 11.25rem
  text-transform: uppercase
  padding: 0 .9375rem
  text-align: center
  +open-700
  transition: color .23s ease, background-color .23s ease, border-color .23s ease
  font-size: .875rem
  line-height: normal
  border-radius: 1.875rem
  border: 2px solid currentColor
  &.hollow
    border: 2px solid $color-white
    background-color: transparent
    color: $color-white
    &:hover
      background-color: $color-main
      border-color: $color-main
  &.success
    background-color: $color-main
    border-color: $color-main
    color: $color-white
    &:hover
      background-color: darken($color-main, 10%)
      border-color: darken($color-main, 10%)
