---
title: Homepage

---
extends layouts/_layout
block content

  .promo
    .promo__info
      h1.h1
        | Transforming spaces into landscapes
      .promo__description
        | WE BELIEVE THAT YOUR BACKYARD DESERVES THE BEST LANDSCAPE
      .promo__btns
        button.button.success
          | WORK WITH US
        button.button.hollow
          | ABOUT US
    a.nxt-arrow(href="#")
      +icon('arrow-down')

  include partials/_service

  .about.js-white-screen
    .about__inner
      .about__info
        .frameimg
          img.inner(src="img/111.jpg", alt="")



        
      
    