@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Open+Sans:400,400i,700|Source+Sans+Pro:400,600,700')

=mon-400
  font-family: 'Montserrat', sans-serif
  font-weight: 400
  font-style: normal

=mon-700
  font-family: 'Montserrat', sans-serif
  font-weight: 700
  font-style: normal

=mon-900
  font-family: 'Montserrat', sans-serif
  font-weight: 900
  font-style: normal

=open-400
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  font-style: normal

=open-400
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  font-style: italic

=open-700
  font-family: 'Open Sans', sans-serif
  font-weight: 700
  font-style: normal
	
=source-400
  font-family: 'Source Sans Pro', sans-serif
  font-weight: 400
  font-style: normal

=source-600
  font-family: 'Source Sans Pro', sans-serif
  font-weight: 600
  font-style: normal

=source-700
  font-family: 'Source Sans Pro', sans-serif
  font-weight: 700
  font-style: normal



$color-main: #DFAF4B
$color-second: #123E5A
$color-text: #828282
$color-white: #fafafa

