//BEGIN header
header.header
  .container-fluid.header__inner
    a.logo-link(href="#")
      include ./inline-svg/logo.svg
    ul.nav.main-menu
      li.menu-item
        a(href="#")
          | HOME
      li.menu-item.current-item
        a(href="#")
          | SERVICES
      li.menu-item
        a(href="#")
          | Nursery
      li.menu-item
        a(href="#")
          | ABOUT US
      li.menu-item
        a(href="#")
          | portfolio
      li.menu-item
        a(href="#")
          | Contact Us
//END header
