.service
  .service__bg
    img.bg1(src="img/bg/bg__service-land-design.jpg", alt="")
    img.bg2(src="img/bg/bg__service-landscaping.jpg", alt="" style="display:none;")
    img.bg3(src="img/bg/bg__service-land-light.jpg", alt="" style="display:none;")
    img.bg4(src="img/bg/bg__service-maintenance.jpg", alt="" style="display:none;")
    img.bg5(src="img/bg/bg__service-irrigation.jpg", alt="" style="display:none;")
    img.bg6(src="img/bg/bg__service-paving.jpg", alt="" style="display:none;")
    img.bg7(src="img/bg/bg__service-nursery.jpg", alt="" style="display:none;")
  .service__tabs
    .service__tab.service__tab1
      .service__tab-inner
        .bg-letter
          svg(viewbox="0 0 50 50")
            defs
              mask#maskD(x="0" y="0" width="50" height="50")
                rect(x="0" y="0" width="50" height="50" fill="#fff")
                text.stext(text-anchor="middle" x="25" y="47" dy="0") D
            rect(x="0" y="0" width="50" height="50" mask="url(#maskD)" fill-opacity="0.42")
        .service__tab-letter
          span
            | Landscape Designer
        button.button.success
          | learn more
        p
          | Our team of landscapers, landscape architects and engineers have well over 40 years of experience and it shows in our work
    .service__tab.service__tab2
      .service__tab-inner  
        .bg-letter
          svg(viewbox="0 0 50 50")
            defs
              mask#maskL(x="0" y="0" width="50" height="50")
                rect(x="0" y="0" width="50" height="50" fill="#fff")
                text.stext(text-anchor="middle" x="25" y="47" dy="0") L
            rect(x="0" y="0" width="50" height="50" mask="url(#maskL)" fill-opacity="0.42")
        .service__tab-letter
          span
            | Landscaping
        button.button.success
          | learn more
        p
          | Landscaping should be the exterior extension of the heart of your home, a warm greeting whenever you get home and a bold, inspiring statement to your guests.
    .service__tab.service__tab3
      .service__tab-inner
        .bg-letter
          svg(viewbox="0 0 50 50")
            rect(x="0" y="0" width="50" height="50" mask="url(#maskL)" fill-opacity="0.42")
        .service__tab-letter
          span
            | Landscape Lighting
        button.button.success
          | learn more
        p
          | The right lighting will bring out the inherent beauty of your landscaping and how it interrelates with your home adding a powerful pop to your design.
    .service__tab.service__tab4
      .service__tab-inner
        .bg-letter
          svg(viewbox="0 0 50 50")
            defs
              mask#maskM(x="0" y="0" width="50" height="50")
                rect(x="0" y="0" width="50" height="50" fill="#fff")
                text.stext(text-anchor="middle" x="25" y="47" dy="0") M
            rect(x="0" y="0" width="50" height="50" mask="url(#maskM)" fill-opacity="0.42")
        .service__tab-letter
          span
            | Maintenance
        button.button.success
          | learn more
        p
          | Our team is equipped with the skills and equipment to maintain your outstanding landscapes and keep it just as clean and refined as the day it was finished.
    .service__tab.service__tab5
      .service__tab-inner
        .bg-letter
          svg(viewbox="0 0 50 50")
            defs
              mask#maskI(x="0" y="0" width="50" height="50")
                rect(x="0" y="0" width="50" height="50" fill="#fff")
                text.stext(text-anchor="middle" x="25" y="47" dy="0") I
            rect(x="0" y="0" width="50" height="50" mask="url(#maskI)" fill-opacity="0.42")
        .service__tab-letter
          span
            | Irrigation&amp; Drainage
        button.button.success
          | learn more
        p
          | Irrigation is one of the most important aspects of lawn care if you want a yard that looks professional and well-manicured.
    .service__tab.service__tab6
      .service__tab-inner
        .bg-letter
          svg(viewbox="0 0 50 50")
            rect(x="0" y="0" width="50" height="50" mask="url(#maskM)" fill-opacity="0.42")
        .service__tab-letter
          span
            | Masonry &amp; Paving
        button.button.success
          | learn more
        p
          | Well designed and installed stonework adds a beautifully rustic element to your outdoor living space. We’re proud to offer everything from walkways and patios to walls, steps and more.
    .service__tab.service__tab7
      .service__tab-inner
        .bg-letter
          svg(viewbox="0 0 50 50")
            defs
              mask#maskN(x="0" y="0" width="50" height="50")
                rect(x="0" y="0" width="50" height="50" fill="#fff")
                text.stext(text-anchor="middle" x="25" y="47" dy="0") N
            rect(x="0" y="0" width="50" height="50" mask="url(#maskN)" fill-opacity="0.42")
        .service__tab-letter
          span
            | Nursery
        button.button.success
          | learn more
        p
          | The last thing anyone wants to see amid beautiful landscaping is dying or unhealthy plants. We have our own Nursery and provide a range of nursery services to keep your plants healthy


    