include ../mixins/all
doctype html
html(lang="en")
  head
    include _head

  body(class=bodyClass)
    .wrapper(class=outClass)
      block header
        include ../partials/_header
      main.content
        block content
        //END out

        // modals
        include ../partials/_modals

      //footer
      include ../partials/_footer 

    //LOAD SCRIPTS
    block scripts
      script(src="js/app.js")