.icon-address {
  width: 0.67em;
  height: 1em;
  fill: #DFAF4B;
}
.icon-arrow-down {
  width: 1.79em;
  height: 1em;
  fill: black;
}
.icon-arrow-right {
  width: 2em;
  height: 1em;
  fill: #FAFAFA;
}
.icon-email {
  width: 1.3em;
  height: 1em;
  fill: #DFAF4B;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: #FAFAFA;
}
.icon-insta {
  width: 1em;
  height: 1em;
  fill: #FAFAFA;
}
.icon-phone {
  width: 0.65em;
  height: 1em;
  fill: #DFAF4B;
}
.icon-tw {
  width: 1em;
  height: 1em;
  fill: #FAFAFA;
}
